#content {
  background-color: #9260a1;
  margin: 10px;
  padding: 25px;
  border-radius: 25px;
}

#script-output {
  background-color: black;
  font-family: monospace;
  font-size: 16px;
  max-width: 300px;
  padding: 10px;
  color: white;
}

body {
  background-color: grey;
}

img {
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

p {
  font-family: "calibri", sans-serif;
}

h1 {
  font-family: "bahnschrift", sans-serif;
}

h2 {
  font-family: "bahnschrift", sans-serif;
}

h3 {
  font-family: "bahnschrift", sans-serif;
}
