body{
  background-image: url("../img/background_lab7.jpg");
  background-size: cover;
}

#Lab7_Mainpage,p{
  text-align: center;
  font-family: Gill Sans Extrabold, sans-serif;
  font-size: 26px;

}


#js_div{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  border: 5px double black;
  border-radius: 15px;
  padding: 50px;



}
